

<div class="wrap">
    {{#unless logged_in}}
<h3>Please login or register above to receive more information about volunteering. </h3>


    {{/unless}}
</div>
    {{#if logged_in}}

<div id="searchresults">
    <h1>Volunteer Position</h><br>
    <h3>Company</h3>
    <h3>Location</h><br>
    <h3>Positions Available:
    <p>
    <h5>Description...</h5>
    </p>

<input class="details"type="submit" name="Details" value="Details">
</div>

{{/if}}





